---
interface Props {
	index: number;
    itemLength: number;
    className?: string;
}
const { index, itemLength, className } = Astro.props;
---

<div class={`card ${className}`}>
    <div class="card-index">0{index}</div>
    <h3 class="card-title" data-i18n={`solutions.section${index}.title`}></h3>
    <div class="card-description" data-i18n={`solutions.section${index}.description`}></div>
    <div class="card-items">
        {
            Array(itemLength).fill(0).map((_, itemIndex) => (
                <div class="card-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M5.73333 9.73333L10.4333 5.03333L9.5 4.1L5.73333 7.86667L3.83333 5.96667L2.9 6.9L5.73333 9.73333ZM6.66667 13.3333C5.74444 13.3333 4.87778 13.1583 4.06667 12.8083C3.25556 12.4583 2.55 11.9833 1.95 11.3833C1.35 10.7833 0.875 10.0778 0.525 9.26667C0.175 8.45555 0 7.58889 0 6.66667C0 5.74444 0.175 4.87778 0.525 4.06667C0.875 3.25556 1.35 2.55 1.95 1.95C2.55 1.35 3.25556 0.875 4.06667 0.525C4.87778 0.175 5.74444 0 6.66667 0C7.58889 0 8.45555 0.175 9.26667 0.525C10.0778 0.875 10.7833 1.35 11.3833 1.95C11.9833 2.55 12.4583 3.25556 12.8083 4.06667C13.1583 4.87778 13.3333 5.74444 13.3333 6.66667C13.3333 7.58889 13.1583 8.45555 12.8083 9.26667C12.4583 10.0778 11.9833 10.7833 11.3833 11.3833C10.7833 11.9833 10.0778 12.4583 9.26667 12.8083C8.45555 13.1583 7.58889 13.3333 6.66667 13.3333ZM6.66667 12C8.15555 12 9.41667 11.4833 10.45 10.45C11.4833 9.41667 12 8.15555 12 6.66667C12 5.17778 11.4833 3.91667 10.45 2.88333C9.41667 1.85 8.15555 1.33333 6.66667 1.33333C5.17778 1.33333 3.91667 1.85 2.88333 2.88333C1.85 3.91667 1.33333 5.17778 1.33333 6.66667C1.33333 8.15555 1.85 9.41667 2.88333 10.45C3.91667 11.4833 5.17778 12 6.66667 12Z" fill="url(#paint0_linear_2663_11325)"/>
                        <defs>
                            <linearGradient id="paint0_linear_2663_11325" x1="0.604027" y1="2.08333" x2="11.9865" y2="11.8108" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#5386FA"/>
                            <stop offset="1" stop-color="#8B5CF6"/>
                            </linearGradient>
                        </defs>
                    </svg>
                    <span class="card-item-description" data-i18n={`solutions.section${index}.items.${itemIndex}`}></span>
                </div>
            ))
        }
    </div>
</div>

<script>
	import { loadTranslations } from '../../scripts/i18n-loader';
	loadTranslations();
</script>

<style>
    .card {
        display: flex;
        width: 22.5rem;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 0.75rem;
        border: 1px solid var(--Neutrals-White-30, rgba(255, 255, 255, 0.30));
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(7.5px);
        position: relative;
    }

    .card::before {
        position: absolute;
        content: '';
        width: 2rem;
        height: 14.75rem;
        border: 1px solid var(--Neutrals-White-30, rgba(255, 255, 255, 0.30));
        opacity: 0.3;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(7.5px);
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .card::after {
        position: absolute;
        content: '';
        height: 14.75rem;
        border: 1px solid var(--Neutrals-White-30, rgba(255, 255, 255, 0.30));
        opacity: 0.2;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(7.5px);
    }

    .card.card-section1::before {
        width: 2rem;
        border-radius: 1.25rem 0 0 1.25rem;
        border-right: none;
        left: -2rem;
    }

    .card.card-section1::after {
        width: 4rem;
        border-radius: 1.25rem 0 0 1.25rem;
        border-right: none;
        left: -4rem;
        bottom: 2.625rem;
    }

    .card.card-section2::before {
        width: 5.625rem;
        border-radius: 0 1.25rem 1.25rem 0;
        border-left: none;
        right: -5.625rem;
    }

    .card.card-section2::after {
        width: 7.625rem;
        border-radius: 0 1.25rem 1.25rem 0;
        border-left: none;
        right: -7.625rem;
    }

    .card-index {
        position: absolute;
        text-align: right;
        right: 1.125rem;
        top: 1rem;
        color: rgba(255, 255, 255, 0.57);
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 100%; /* 20px */
        text-transform: capitalize;
    }

    .card-title {
        width: 100%;
        font-size: 2.25rem;
        font-style: italic;
        line-height: 100%; /* 36px */
        margin-bottom: 3.75rem;
        background: var(--AI-Gradient-Neon-Horizon-Heavy, linear-gradient(131deg, #5386FA 9.64%, #8B5CF6 89.29%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .card-description {
        color: var(--Neutrals-White-00, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 0.875rem;
        line-height: 128.571%; /* 128.571% */
        margin-bottom: 1rem;
    }

    .card-items {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .card-item {
        display: flex;
        align-items: center;
        padding: 2px 0.5rem;
        gap: 0.25rem;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.10);
        width: fit-content;
    }

    .card-item-description {
        color: var(--Neutrals-White-00, #FFF);
        font-size: 0.875rem;
        line-height: 128.571%; /* 128.571% */
    }

	@media (max-width: 768px) {
        .card {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 3.125rem;
        }

        .card.card-section1::before,
        .card.card-section2::before {
            width: calc(100% - 2rem);
            height: 1rem;
            border-radius: 0 0 1.25rem 1.25rem;
            border-top: none;
            left: 0;
            right: 0;
            top: auto;
            bottom: -1rem;
            margin: 0 auto;
        }

        .card.card-section1::after,
        .card.card-section2::after {
            width: calc(100% - 4rem);
            height: 1rem;
            border-radius: 0 0 1.25rem 1.25rem;
            border-top: none;
            left: 0;
            right: 0;
            top: auto;
            bottom: -2rem;
            margin: 0 auto;
        }
    }
</style>