---
import { pxToRem } from '../../utils/index';
import bgPreview from '../../assets/index/features/bg.png';
import bgPreviewCn from '../../assets/index/features/bg-cn.png';
import bgPreviewMobile from '../../assets/index/features/bg-mobile.png';
import bgPreviewMobileCn from '../../assets/index/features/bg-cn-mobile.png';
import slow1 from '../../assets/index/features/slow1.png';
import slow2 from '../../assets/index/features/slow2.png';
import slow3 from '../../assets/index/features/slow3.png';
import slow4 from '../../assets/index/features/slow4.png';
import slow5 from '../../assets/index/features/slow5.png';
import slow6 from '../../assets/index/features/slow6.png';

const features = [slow1, slow2, slow3, slow4, slow5, slow6];

const fontSize = {
  title: pxToRem(40),
  titleMobile: pxToRem(24),
  subtitle: pxToRem(16),
  subtitleMobile: pxToRem(14),
  cardLabel: pxToRem(14),
  cardLabelMobile: pxToRem(12),
  cardDescription: pxToRem(14),
  cardDescriptionMobile: pxToRem(12),
};
---

<section class="features">
  <div class="container">
    <div class="features-header">
      <h2 class="features-title" data-i18n="homepage.features.title"></h2>
      <p class="features-subtitle" data-i18n="homepage.features.subtitle"></p>
    </div>

    <div class="features-layout" id="features-layout">
      <!-- Left: Feature Items -->
      <div class="feature-left">
        <div class="feature-left-title" data-i18n="homepage.features.left.title"></div>
        <div class="feature-left-list">
          <div class="left-list-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
              <path d="M6 23C5.16667 23 4.45833 22.7083 3.875 22.125C3.29167 21.5417 3 20.8333 3 20C3 19.1667 3.29167 18.4583 3.875 17.875C4.45833 17.2917 5.16667 17 6 17C6.23333 17 6.45 17.025 6.65 17.075C6.85 17.125 7.04167 17.1917 7.225 17.275L8.65 15.5C8.18333 14.9833 7.85833 14.4 7.675 13.75C7.49167 13.1 7.45 12.45 7.55 11.8L5.525 11.125C5.24167 11.5417 4.88333 11.875 4.45 12.125C4.01667 12.375 3.53333 12.5 3 12.5C2.16667 12.5 1.45833 12.2083 0.875 11.625C0.291667 11.0417 0 10.3333 0 9.5C0 8.66667 0.291667 7.95833 0.875 7.375C1.45833 6.79167 2.16667 6.5 3 6.5C3.83333 6.5 4.54167 6.79167 5.125 7.375C5.70833 7.95833 6 8.66667 6 9.5C6 9.53333 6 9.56667 6 9.6C6 9.63333 6 9.66667 6 9.7L8.025 10.4C8.35833 9.8 8.80417 9.29167 9.3625 8.875C9.92083 8.45833 10.55 8.19167 11.25 8.075V5.9C10.6 5.71667 10.0625 5.3625 9.6375 4.8375C9.2125 4.3125 9 3.7 9 3C9 2.16667 9.29167 1.45833 9.875 0.875C10.4583 0.291667 11.1667 0 12 0C12.8333 0 13.5417 0.291667 14.125 0.875C14.7083 1.45833 15 2.16667 15 3C15 3.7 14.7833 4.3125 14.35 4.8375C13.9167 5.3625 13.3833 5.71667 12.75 5.9V8.075C13.45 8.19167 14.0792 8.45833 14.6375 8.875C15.1958 9.29167 15.6417 9.8 15.975 10.4L18 9.7C18 9.66667 18 9.63333 18 9.6C18 9.56667 18 9.53333 18 9.5C18 8.66667 18.2917 7.95833 18.875 7.375C19.4583 6.79167 20.1667 6.5 21 6.5C21.8333 6.5 22.5417 6.79167 23.125 7.375C23.7083 7.95833 24 8.66667 24 9.5C24 10.3333 23.7083 11.0417 23.125 11.625C22.5417 12.2083 21.8333 12.5 21 12.5C20.4667 12.5 19.9792 12.375 19.5375 12.125C19.0958 11.875 18.7417 11.5417 18.475 11.125L16.45 11.8C16.55 12.45 16.5083 13.0958 16.325 13.7375C16.1417 14.3792 15.8167 14.9667 15.35 15.5L16.775 17.25C16.9583 17.1667 17.15 17.1042 17.35 17.0625C17.55 17.0208 17.7667 17 18 17C18.8333 17 19.5417 17.2917 20.125 17.875C20.7083 18.4583 21 19.1667 21 20C21 20.8333 20.7083 21.5417 20.125 22.125C19.5417 22.7083 18.8333 23 18 23C17.1667 23 16.4583 22.7083 15.875 22.125C15.2917 21.5417 15 20.8333 15 20C15 19.6667 15.0542 19.3458 15.1625 19.0375C15.2708 18.7292 15.4167 18.45 15.6 18.2L14.175 16.425C13.4917 16.8083 12.7625 17 11.9875 17C11.2125 17 10.4833 16.8083 9.8 16.425L8.4 18.2C8.58333 18.45 8.72917 18.7292 8.8375 19.0375C8.94583 19.3458 9 19.6667 9 20C9 20.8333 8.70833 21.5417 8.125 22.125C7.54167 22.7083 6.83333 23 6 23ZM3 10.5C3.28333 10.5 3.52083 10.4042 3.7125 10.2125C3.90417 10.0208 4 9.78333 4 9.5C4 9.21667 3.90417 8.97917 3.7125 8.7875C3.52083 8.59583 3.28333 8.5 3 8.5C2.71667 8.5 2.47917 8.59583 2.2875 8.7875C2.09583 8.97917 2 9.21667 2 9.5C2 9.78333 2.09583 10.0208 2.2875 10.2125C2.47917 10.4042 2.71667 10.5 3 10.5ZM6 21C6.28333 21 6.52083 20.9042 6.7125 20.7125C6.90417 20.5208 7 20.2833 7 20C7 19.7167 6.90417 19.4792 6.7125 19.2875C6.52083 19.0958 6.28333 19 6 19C5.71667 19 5.47917 19.0958 5.2875 19.2875C5.09583 19.4792 5 19.7167 5 20C5 20.2833 5.09583 20.5208 5.2875 20.7125C5.47917 20.9042 5.71667 21 6 21ZM12 4C12.2833 4 12.5208 3.90417 12.7125 3.7125C12.9042 3.52083 13 3.28333 13 3C13 2.71667 12.9042 2.47917 12.7125 2.2875C12.5208 2.09583 12.2833 2 12 2C11.7167 2 11.4792 2.09583 11.2875 2.2875C11.0958 2.47917 11 2.71667 11 3C11 3.28333 11.0958 3.52083 11.2875 3.7125C11.4792 3.90417 11.7167 4 12 4ZM12 15C12.7 15 13.2917 14.7583 13.775 14.275C14.2583 13.7917 14.5 13.2 14.5 12.5C14.5 11.8 14.2583 11.2083 13.775 10.725C13.2917 10.2417 12.7 10 12 10C11.3 10 10.7083 10.2417 10.225 10.725C9.74167 11.2083 9.5 11.8 9.5 12.5C9.5 13.2 9.74167 13.7917 10.225 14.275C10.7083 14.7583 11.3 15 12 15ZM18 21C18.2833 21 18.5208 20.9042 18.7125 20.7125C18.9042 20.5208 19 20.2833 19 20C19 19.7167 18.9042 19.4792 18.7125 19.2875C18.5208 19.0958 18.2833 19 18 19C17.7167 19 17.4792 19.0958 17.2875 19.2875C17.0958 19.4792 17 19.7167 17 20C17 20.2833 17.0958 20.5208 17.2875 20.7125C17.4792 20.9042 17.7167 21 18 21ZM21 10.5C21.2833 10.5 21.5208 10.4042 21.7125 10.2125C21.9042 10.0208 22 9.78333 22 9.5C22 9.21667 21.9042 8.97917 21.7125 8.7875C21.5208 8.59583 21.2833 8.5 21 8.5C20.7167 8.5 20.4792 8.59583 20.2875 8.7875C20.0958 8.97917 20 9.21667 20 9.5C20 9.78333 20.0958 10.0208 20.2875 10.2125C20.4792 10.4042 20.7167 10.5 21 10.5Z" fill="white"/>
            </svg>
            <div class="left-list-item-info" data-i18n="homepage.features.left.list.0"></div>
          </div>
          <div class="left-list-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M1.625 13.025L0 11.85L5 3.85L8 7.35L12 0.85L15 5.35L18.375 0L20 1.175L15.05 9.025L12.075 4.55L8.275 10.725L5.25 7.2L1.625 13.025ZM13.5 17C14.2 17 14.7917 16.7583 15.275 16.275C15.7583 15.7917 16 15.2 16 14.5C16 13.8 15.7583 13.2083 15.275 12.725C14.7917 12.2417 14.2 12 13.5 12C12.8 12 12.2083 12.2417 11.725 12.725C11.2417 13.2083 11 13.8 11 14.5C11 15.2 11.2417 15.7917 11.725 16.275C12.2083 16.7583 12.8 17 13.5 17ZM18.6 21L15.9 18.3C15.55 18.5333 15.1708 18.7083 14.7625 18.825C14.3542 18.9417 13.9333 19 13.5 19C12.25 19 11.1875 18.5625 10.3125 17.6875C9.4375 16.8125 9 15.75 9 14.5C9 13.25 9.4375 12.1875 10.3125 11.3125C11.1875 10.4375 12.25 10 13.5 10C14.75 10 15.8125 10.4375 16.6875 11.3125C17.5625 12.1875 18 13.25 18 14.5C18 14.9333 17.9417 15.3542 17.825 15.7625C17.7083 16.1708 17.5333 16.55 17.3 16.9L20 19.6L18.6 21Z" fill="white"/>
            </svg>
            <div class="left-list-item-info" data-i18n="homepage.features.left.list.1"></div>
          </div>
          <div class="left-list-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15" viewBox="0 0 22 15" fill="none">
              <path d="M11 12C12.25 12 13.3125 11.5625 14.1875 10.6875C15.0625 9.8125 15.5 8.75 15.5 7.5C15.5 6.25 15.0625 5.1875 14.1875 4.3125C13.3125 3.4375 12.25 3 11 3C9.75 3 8.6875 3.4375 7.8125 4.3125C6.9375 5.1875 6.5 6.25 6.5 7.5C6.5 8.75 6.9375 9.8125 7.8125 10.6875C8.6875 11.5625 9.75 12 11 12ZM11 10.2C10.25 10.2 9.6125 9.9375 9.0875 9.4125C8.5625 8.8875 8.3 8.25 8.3 7.5C8.3 6.75 8.5625 6.1125 9.0875 5.5875C9.6125 5.0625 10.25 4.8 11 4.8C11.75 4.8 12.3875 5.0625 12.9125 5.5875C13.4375 6.1125 13.7 6.75 13.7 7.5C13.7 8.25 13.4375 8.8875 12.9125 9.4125C12.3875 9.9375 11.75 10.2 11 10.2ZM11 15C8.56667 15 6.35 14.3208 4.35 12.9625C2.35 11.6042 0.9 9.78333 0 7.5C0.9 5.21667 2.35 3.39583 4.35 2.0375C6.35 0.679167 8.56667 0 11 0C13.4333 0 15.65 0.679167 17.65 2.0375C19.65 3.39583 21.1 5.21667 22 7.5C21.1 9.78333 19.65 11.6042 17.65 12.9625C15.65 14.3208 13.4333 15 11 15ZM11 13C12.8833 13 14.6125 12.5042 16.1875 11.5125C17.7625 10.5208 18.9667 9.18333 19.8 7.5C18.9667 5.81667 17.7625 4.47917 16.1875 3.4875C14.6125 2.49583 12.8833 2 11 2C9.11667 2 7.3875 2.49583 5.8125 3.4875C4.2375 4.47917 3.03333 5.81667 2.2 7.5C3.03333 9.18333 4.2375 10.5208 5.8125 11.5125C7.3875 12.5042 9.11667 13 11 13Z" fill="white"/>
            </svg>
            <div class="left-list-item-info" data-i18n="homepage.features.left.list.2"></div>
          </div>
        </div>
        <div class="feature-left-info" data-i18n="homepage.features.left.info"></div>
        <div class="feature-left-description" data-i18n="homepage.features.left.description"></div>
      </div>
      <!-- <div class="features-list" id="featuresList">
        {features.map((img, index) => {
          const header = (
            <div class="feature-header">
              <div class="feature-label" data-i18n={`homepage.features.items.${index}.label`}></div>
              <div class="feature-icon">
                <svg class="icon-default" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                  <path d="M8.27921 2.27669L1.14395 9.44852C1.01073 9.58242 0.853766 9.64961 0.673062 9.65007C0.492357 9.65053 0.335053 9.58415 0.201147 9.45093C0.0672415 9.3177 5.77576e-05 9.16074 -0.000404161 8.98004C-0.000866074 8.79933 0.0655144 8.64203 0.198737 8.50812L7.33399 1.3363L3.6688 1.33388C3.49596 1.33432 3.34259 1.27186 3.2087 1.14649C3.07482 1.02113 3.00764 0.864164 3.00715 0.675603C3.00671 0.502755 3.0731 0.349378 3.20632 0.215473C3.33955 0.0815675 3.49258 0.0143937 3.66543 0.0139521L8.94514 0.000456365C9.03942 0.000215383 9.12393 0.0176774 9.19866 0.0528419C9.27339 0.0880065 9.34226 0.136935 9.40527 0.199628C9.46829 0.262321 9.51757 0.330942 9.55311 0.40549C9.58866 0.480039 9.60655 0.564453 9.6068 0.658734L9.62029 5.93845C9.62073 6.1113 9.5563 6.2627 9.427 6.39267C9.29769 6.52264 9.1427 6.59178 8.96201 6.6001C8.77345 6.60058 8.61419 6.53617 8.48422 6.40686C8.35425 6.27756 8.28903 6.11863 8.28855 5.93007L8.27921 2.27669Z" fill="url(#paint0_linear_2367_4192)"/>
                  <defs>
                    <linearGradient id="paint0_linear_2367_4192" x1="0.201147" y1="9.45093" x2="9.40527" y2="0.199628" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FBE5CF"/>
                      <stop offset="1" stop-color="#AFC9FF"/>
                    </linearGradient>
                  </defs>
                </svg>
                <svg class="icon-hover" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <mask id={`mask0_${index}`} style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                    <rect x="16" y="0" width="16" height="16" transform="rotate(90 16 0)" fill="#D9D9D9"/>
                  </mask>
                  <g mask={`url(#mask0_${index})`}>
                    <path d="M7.33281 12.1163L7.33281 1.99967C7.33281 1.81079 7.3967 1.65245 7.52448 1.52467C7.65226 1.3969 7.81059 1.33301 7.99948 1.33301C8.18837 1.33301 8.3467 1.3969 8.47448 1.52467C8.60226 1.65245 8.66615 1.81079 8.66615 1.99967L8.66615 12.1163L11.2661 9.53301C11.3884 9.41079 11.5411 9.3469 11.7245 9.34134C11.9078 9.33579 12.0661 9.39968 12.1995 9.53301C12.3217 9.65523 12.3828 9.81079 12.3828 9.99967C12.3828 10.1886 12.3217 10.3441 12.1995 10.4663L8.46615 14.1997C8.39948 14.2663 8.32726 14.3136 8.24948 14.3413C8.1717 14.3691 8.08837 14.383 7.99948 14.383C7.91059 14.383 7.82726 14.3691 7.74948 14.3413C7.6717 14.3136 7.59948 14.2663 7.53281 14.1997L3.79948 10.4663C3.67726 10.3441 3.61614 10.1913 3.61614 10.008C3.61614 9.82467 3.67726 9.66634 3.79948 9.53301C3.93281 9.39967 4.09115 9.33301 4.27448 9.33301C4.45781 9.33301 4.61615 9.39967 4.74948 9.53301L7.33281 12.1163Z" fill="white"/>
                  </g>
                </svg>
              </div>
            </div>
          )
          return (
            <div class="feature-item" data-index={index}>
              {header}
              <div class="feature-visual">
                <div class="feature-image">
                  <img src={img.src} alt="" />
                </div>
              </div>
              <div class="feature-hover">
                {header}
                <div class="feature-description-overlay">
                  <p class="feature-description" data-i18n={`homepage.features.items.${index}.description`}></p>
                </div>
              </div>
            </div>
          )
        })}
      </div> -->

      <!-- Right: Preview Image -->
      <div class="features-preview" id="featuresPreview">
        <picture>
          <source media="(max-width: 768px)" srcset={bgPreviewMobile.src} data-en-srcset={bgPreviewMobile.src} data-cn-srcset={bgPreviewMobileCn.src} />
          <img src={bgPreview.src} data-en-src={bgPreview.src} data-cn-src={bgPreviewCn.src} alt="Features Preview" id="featuresPreviewImg" />
        </picture>
      </div>
    </div>
  </div>
</section>

<script>
  import { loadTranslations } from '../../scripts/i18n-loader';
  loadTranslations();

  // 切换预览图片语言
  const currentLang = localStorage.getItem('language') || 'en';
  const previewImg = document.getElementById('featuresPreviewImg') as HTMLImageElement;
  const sources = document.querySelectorAll('.features-preview picture source');
  
  if (previewImg) {
    const enSrc = previewImg.getAttribute('data-en-src');
    const cnSrc = previewImg.getAttribute('data-cn-src');
    if (currentLang === 'zh' && cnSrc) {
      previewImg.setAttribute('src', cnSrc);
    } else if (enSrc) {
      previewImg.setAttribute('src', enSrc);
    }
  }

  sources.forEach((source) => {
    const enSrcset = source.getAttribute('data-en-srcset');
    const cnSrcset = source.getAttribute('data-cn-srcset');
    if (currentLang === 'zh' && cnSrcset) {
      source.setAttribute('srcset', cnSrcset);
    } else if (enSrcset) {
      source.setAttribute('srcset', enSrcset);
    }
  });

  // Intersection Observer 监听 features 是否在可视区域内
  if (typeof window !== 'undefined') {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const element = entry.target as HTMLElement;
          if (entry.isIntersecting) {
            // 进入可视区域，添加 in-view 类，触发对齐动画
            element.classList.add('in-view');
          } else {
            // 离开可视区域，移除 in-view 类，恢复错位状态
            element.classList.remove('in-view');
          }
        });
      },
      {
        threshold: 0.2, // 当 20% 的元素可见时触发
      }
    );

    const featuresLayout = document.getElementById('features-layout');
    if (featuresLayout) {
      observer.observe(featuresLayout);
    }
  }
</script>

<style define:vars={{
  titleSize: fontSize.title,
  titleMobileSize: fontSize.titleMobile,
  subtitleSize: fontSize.subtitle,
  subtitleMobileSize: fontSize.subtitleMobile,
  cardLabelSize: fontSize.cardLabel,
  cardLabelMobileSize: fontSize.cardLabelMobile,
  cardDescriptionSize: fontSize.cardDescription,
  cardDescriptionMobileSize: fontSize.cardDescriptionMobile,
}}>
  .features {
    position: relative;
    padding-top: 4.75rem;
    background: #FFFFFF;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
  }

  .features-header {
    margin-bottom: 4rem;
  }

  .features-title {
    font-size: var(--titleSize);
    font-weight: 600;
    line-height: 1.3;
    color: #111827;
    margin-bottom: 0.5rem;
    max-width: 800px;
  }

  .features-subtitle {
    font-size: var(--subtitleSize);
    line-height: 1.6;
    color: var(--grey-gray-60-base, #111827);;
    max-width: 600px;
  }

  .features-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    align-items: center;
  }

  .features-layout.in-view .feature-left {
    transform: translateX(0);
  }

  .feature-left {
    transform: translateX(-50%);
    transition: all 0.8s ease;
    z-index: 1;
  }

  .feature-left-title {
    color: var(--grey-gray-60-base, #111827);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 1.25rem;
    line-height: 150%; /* 24px */
    margin-bottom: 1rem;
  }

  .feature-left-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 2.25rem;
  }

  .left-list-item {
    max-width: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--AI-Gradient-Neon-Horizon-Heavy, linear-gradient(131deg, #5386FA 9.64%, #8B5CF6 89.29%));
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    color: #fff;
    gap: 1rem;
    padding: 1rem;
    aspect-ratio: 100 / 87;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .left-list-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(83, 134, 250, 0.4);
  }

  .left-list-item svg {
    transition: transform 0.3s ease;
  }

  .left-list-item:hover svg {
    transform: scale(1.1);
  }
   
  .left-list-item-info {
    text-align: center;
  }

  .feature-left-info {
    color: #000;;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 1.25rem;
    line-height: 150%; /* 24px */
  }

  .feature-left-description {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  .features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  /* Initial state - staggered */
  .feature-item {
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    background: #000;
  }
  .feature-hover {
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  .feature-item:nth-child(1),
  .feature-item:nth-child(2),
  .feature-item:nth-child(3) {
    transform: translateX(-100%);
  }

  .feature-item:nth-child(4),
  .feature-item:nth-child(5),
  .feature-item:nth-child(6) {
    transform: translateX(90px);
  }

  /* When in viewport - aligned */
  .features-layout.in-view .features-list .feature-item {
    transform: translateX(0);
  }

  .features-preview {
    transform: translateX(100%) scale(1.1);
  }
  .features-layout.in-view .features-preview {
    transform: translateX(0) scale(1.1);
  }

  .feature-item {
    background: linear-gradient(135deg, rgba(99, 102, 241, 0.05) 0%, rgba(139, 92, 246, 0.05) 100%);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    width: 12.5rem;
    background: #000;
  }

  .feature-item:hover {
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
    box-shadow: 0 12px 32px rgba(99, 102, 241, 0.3);
  }

  .feature-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background: var(--AI-Gradient-Neon-Horizon-Heavy, linear-gradient(131deg, #5386FA 9.64%, #8B5CF6 89.29%));
    backdrop-filter: blur(5px);
  }

  .feature-label {
    font-size: var(--cardLabelSize);
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    transition: color 0.4s ease;
    flex: 1;
  }

  .feature-item:hover .feature-label {
    color: #FFFFFF;
  }

  .feature-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
  }

  .icon-default {
    display: block;
    transition: opacity 0.4s ease;
  }

  .icon-hover {
    display: none;
    transition: opacity 0.4s ease;
  }

  .feature-item:hover .icon-default {
    display: none;
  }

  .feature-item:hover .icon-hover {
    display: block;
  }

  .feature-visual {
    position: relative;
    width: 100%;
    height: 8.25rem;
    overflow: hidden;
  }

  .feature-image {
    width: 100%;
    height: 100%;
  }

  .feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    background: #000;
    opacity: 0.5;
  }

  .feature-item:hover .feature-image img {
    transform: scale(1.05);
  }

  /* Feature hover overlay */
  .feature-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background: var(--Neutrals-White-10, rgba(255, 255, 255, 0.75));
    backdrop-filter: blur(5px);
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  .feature-item:hover .feature-hover {
    height: 100%;
  }

  .feature-hover .feature-header {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
  }

  .feature-item:hover .feature-hover .feature-header {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
  }

  .feature-hover .feature-label {
    color: #FFFFFF;
  }

  .feature-description-overlay {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .feature-item:hover .feature-description-overlay {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
  }

  .feature-description {
    font-size: var(--cardDescriptionSize);
    line-height: 1.2;
  }
  .features-preview {
    position: sticky;
    top: 2rem;
    border-radius: 24px;
    overflow: hidden;
    transform: translateX(100%) scale(1.1);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .features-preview.in-view {
    transform: translateX(0);
  }

  .features-preview img {
    width: 100%;
    height: auto;
    display: block;
  }

  

  @media (max-width: 768px) {
    .container {
      padding: 0;
    }
    .features-header,
    .features-list {
      padding: 0 1rem;
    }

    .features {
      padding: 4rem 0;
    }

    .features-header {
      margin-bottom: 3rem;
    }

    .features-title {
      font-size: var(--titleMobileSize);
    }

    .features-subtitle {
      font-size: var(--subtitleMobileSize);
    }

    .features-layout {
      gap: 1.5rem;
      display: flex;
      flex-direction: column;
    }

    .feature-left {
      width: calc(100% - 2rem);
    }

    .feature-left-title {
      font-size: 0.875rem;
    }

    .feature-left-list {
      gap: 0.5rem;
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
    }

    .left-list-item {
      text-align: center;
      padding: 1.5rem 0.25rem 1rem 0.25rem;
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .feature-left-info {
      font-size: 0.875rem;
    }

    .feature-left-description {
      font-size: 0.875rem;
    }

    .features-list {
      gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .feature-item {
      display: flex;
      flex-direction: column;
      max-width: calc(50% - 0.25rem);
      transform: none;
    }

    .feature-header {
      padding: 0.5rem 1rem;
      order: 1;
    }

    .feature-icon {
      width: 0.625rem;
      height: 0.625rem;
    }

    .feature-visual {
      height: 6.875rem;
      order: 2;
    }

    .feature-label {
      font-size: var(--cardLabelMobileSize);
    }

    .feature-description {
      font-size: var(--cardDescriptionMobileSize);
    }
    .feature-item:hover .feature-hover {
      flex-direction: column-reverse;
    }

    .feature-description-overlay {
      /* padding: 0 1.25rem; */
    }
  }
</style>
